	// 日期范围组件
    .uni-date-ranger.dark {
      .not-select-process {
        background-color: rgba(0, 0, 0, .3);
        border: 1px solid #303030;
      }
      .range-label {
        color: #177ddc;
      }
      .process {
        background-color: #177ddc;
      }
      .select-label {
        background-color: #4d4d4d;
        color: #fff;
        &:after {
          border-top-color: #4d4d4d;
        }
      }
      .select-label-2 {
        &:after {
          border-top-color: transparent;
          border-bottom-color: #4d4d4d;
        }
      }
    }